* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

img {
    display: none;
}

#canvas1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}


button {
    margin-bottom: 2rem;
    z-index: 100;
    background-color: red;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    color: white;
}

button:hover {
    background-color: rgb(255, 97, 97);
}